.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.frame {
	width: 300px;
	height: 300px;
	margin: 0 0 10px 0;
	border-radius: 50%;
	overflow: hidden;
}

.caption {
	font-size: smaller;
	font-weight: lighter;
}
