---
import { Image } from 'astro:assets'
import profile from '../assets/profile.jpg'
import { ViewTransitions } from 'astro:transitions'

interface Props {
    title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>{title}</title>

        <meta
            name="robots"
            content="index,follow"
        />
        <meta
            name="googlebot"
            content="index,follow"
        />

        <meta
            name="description"
            content="Christian Peterson, Software Engineer."
        />
        <meta
            property="og:title"
            content="Christian Peterson"
        />
        <meta
            property="og:description"
            content="Christian Peterson, Software Engineer."
        />
        <meta
            property="og:url"
            content="https://www.cpeterson.co"
        />
        <meta
            property="og:image"
            content="https://www.cpeterson.co/profile.jpg"
        />
        <meta
            property="og:site_name"
            content="Christian Peterson"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />

        <link
            rel="canonical"
            href="https://www.cpeterson.co"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link
            rel="apple-touch-icon"
            href="/apple-touch-icon.png"
            sizes="180x180"
        />
        <ViewTransitions />
    </head>
    <body
        class="font-sans bg-[var(--main-bg-color)] text-[var(--text-color)] max-w-[1100px] m-auto p-4">
        <header class="items-center py-[20px] w-full h-auto">
            <nav class="flex -pl-10 pb-8 text-xl">
                <ul class="p-0 flex w-full justify-between">
                    <div class="hidden md:block">
                        <li class="inline-block mr-2">
                            <a
                                class="decoration-[var(--link-main-color)] underline-offset-[0.3ex] decoration-[0.3ex] underline"
                                href="/"
                                data-astro-prefetch
                                >home.</a
                            >
                        </li>
                    </div>
                    <div class="m-auto md:m-0">
                        <li class="md:hidden inline-block mr-2">
                            <a
                                class="decoration-[var(--link-main-color)] underline-offset-[0.3ex] decoration-[0.3ex] underline"
                                href="/"
                                data-astro-prefetch
                                >home.</a
                            >
                        </li>
                        <li class="inline-block mr-2">
                            <a
                                class="decoration-[var(--link-main-color)] underline-offset-[0.3ex] decoration-[0.3ex] underline"
                                href="/posts"
                                data-astro-prefetch
                                >blog.</a
                            >
                        </li>
                        <li class="inline-block mr-2">
                            <a
                                class="inline-flex items-center decoration-[var(--link-main-color)] underline-offset-[0.3ex] decoration-[0.3ex] underline"
                                href="https://www.linkedin.com/in/cpetersonco">
                                linkedin.
                                <svg
                                    class="w-4 h-4 rtl:rotate-180"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        id="Vector"
                                        d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </a>
                        </li>
                        <li class="inline-block mr-2">
                            <a
                                class="inline-flex items-center decoration-[var(--link-main-color)] underline-offset-[0.3ex] decoration-[0.3ex] underline"
                                href="https://github.com/cpetersonco"
                                >github.

                                <svg
                                    class="w-4 h-4 rtl:rotate-180"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        id="Vector"
                                        d="M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    ></path>
                                </svg>
                            </a>
                        </li>
                        <li class="inline-block mr-2">
                            <a
                                class="decoration-[var(--link-main-color)] underline-offset-[0.3ex] decoration-[0.3ex] underline"
                                href="/resume"
                                >resume.</a
                            >
                        </li>
                    </div>
                </ul>
            </nav>
            <div
                class="flex flex-col justify-between lg:flex-row text-center lg:text-justify flex-wrap">
                <div>
                    <a
                        href="/"
                        data-astro-prefetch>
                        <Image
                            class="p-0 m-auto min-w-[300px] lg:min-w-[200px] rounded-[50%] overflow-hidden"
                            src={profile}
                            alt="Picture of Christian"
                            width="150"
                            height="150"
                        />
                    </a>
                </div>
                <div>
                    <h1 class="text-6xl lg:text-8xl font-bold">
                        Christian Peterson
                    </h1>
                    <h2 class="text-4xl lg:text-6xl font-bold">
                        Software Engineer
                    </h2>
                </div>
            </div>
        </header>
        <slot />
        <footer class="items-center mt-4 h-8">
            <p class="flex justify-center">
                © {new Date().getFullYear()} by Christian Peterson.
            </p>
        </footer>
        <script
            async
            defer
            src="https://scripts.withcabin.com/hello.js"
        ></script>
        <style is:global>
            :root {
                --text-color: #333;
                --main-bg-color: #fbfbf2;
                --card-bg-color: #f1f1ea;
                --link-main-color: #da311b;
                --link-hover-color: #ef8071;
            }

            /* Link */

            a {
                color: var(--link-main-color);
                text-decoration-color: var(--link-main-color);
                text-decoration-thickness: 0.3ex;
                text-underline-offset: 0.3ex;
            }

            a:hover,
            a:focus {
                color: var(--link-hover-color);
                text-decoration-color: var(--link-hover-color);
            }
        </style>
    </body>
</html>
