:root {
	--text-color: #333;
	--main-bg-color: #fbfbf2;
	--card-bg-color: #f1f1ea;
	--link-main-color: #ed6a5a;
	--link-hover-color: #f18c7e;
}

html,
body {
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: Source Sans Pro, sans-serif;
	background-color: var(--main-bg-color);
	color: var(--text-color);
}

a {
	color: var(--link-main-color);
	text-decoration: none;
	/* padding: 5px; */
}

a:hover {
	color: var(--link-hover-color);
	border-bottom: solid 2px var(--link-hover-color);
}

p {
	line-height: 2;
}

h3 {
	margin: 10px 0px 8px 0px;
}

nav {
	float: left;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 650px;
	margin: 50px auto;
	padding: 5px 30px;
}

.center {
	width: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px 0px;
	height: 30px;
}

.links-container a {
	padding: 5px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px;
}

.col-left {
	margin-right: 30px;
}

.img-card {
	position: relative;
	width: 200px;
	margin: 0px 40px;
}

.frame {
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}

.caption {
	margin-top: 10px;
	min-height: 30px;
	font-size: smaller;
	font-weight: lighter;
	text-align: center;
}

.breadcrumb {
	margin: 0;
	display: flex;
	padding: 0;
	flex-wrap: wrap;
	list-style: none;
	align-items: flex-start;
}

.breadcrumb-separator {
	display: flex;
	margin-left: 8px;
	margin-right: 8px;
}

.card {
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	width: 100%;
	background-color: var(--card-bg-color);
	margin: 10px 0px;
	padding: 25px;
}

.card-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.right-justify {
	text-align: end;
}
